body {
    background-color: aqua; /* Color de fondo  tipo gris*/
    font-family: Arial, sans-serif; /* Tipo de fuente  */
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
    /*Que ocupe todo el body*/
    background-size: cover;
    min-height: 100vh;
}

.juego {
    text-align: center;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
}

header {
    background-color: black; /* Color de fondo azul */
    color: #fff; /* Color del texto blanco */
    text-align: center; /* Centra el texto */
    padding: 30px; /*Agrega espacio alrededor del encabezado */
    /*Tamaño del cuadro negro*/
    padding: 7px;
    /*un margen hacia abajo de 20px*/
    margin-bottom: 0px;
}

.juegoahorcado {
    text-align: left;
    margin: 0;
    border-radius: 10px;
}

  /* Estilos para la sección del ahorcado */
.juegoahorcado {
    font-family: monospace;
    font-size: 20px;
    background-color: #fff; /* Cambia el color de fondo del ahorcado */
    border: 2px solid #000; /* Agrega un borde alrededor del ahorcado */
    border-radius: 10px; /* Añade esquinas redondeadas */
    padding: 10px; /* Añade espacio interno alrededor del ahorcado */
    margin-top: 20px; /* Establece un margen superior para separarlo de otros elementos */
}

  /* Estilos para los botones */
button {
    background-color: #007bff; /* Color de fondo */
    color: #000; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno (vertical, horizontal) */
    font-size: 9px; /* Tamaño de fuente */
    border: none; /* Elimina el borde predeterminado */
    border-radius: 5px; /* Agrega esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    margin: 2px; /* Espacio entre botones */
}

  /* Estilo cuando el cursor pasa por encima del botón */
button:hover {
    background-color: #b3001e; /* Cambia el color de fondo al pasar el mouse */
}
  /*se creo el cuadrito del juegooo*/
canvas {
    background-color: #fff;
    padding: 9px;
}

  /* Estilo para botones deshabilitados */
button:disabled {
    background-color: #ccc; /* Color de fondo para botones deshabilitados */
    cursor: not-allowed; /* Cambia el cursor a 'no permitido' para botones deshabilitados */
    color: #999; /* Cambia el color del texto para que sea menos prominente */
}